:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: url(background.jpeg) no-repeat center center fixed;
    background-size: cover;
    --secondary_color: #206a5d;
    --main_color: rgba(235, 236, 241, 0.671);
    --third_color: #1f4068;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: var(--main_color);
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.navbar__menu {
    background: var(--main_color);
}

.navbar__checkbox:checked ~ .navbar__menu {
    transform: scale(1, 1);
}

.navbar__icon {
    color: var(--secondary_color);
}

.navbar__icon--hamburger {
    margin-left: 0.03rem;
}

.navbar__item {
    padding: 1rem 0.5rem;
}

.navbar__text {
    text-decoration: none;
    color: var(--secondary_color);
}

.navbar__text:hover {
    color: var(--main_color);
    background-color: var(--secondary_color);
}

.navbar__phone {
    margin-left: auto;
    margin-right: 0.2rem;
}

.navbar__button {
    border: none;
    color: var(--main_color);
    padding: 0.5rem;
    background-color: var(--third_color);
    border-radius: 1rem;
    margin-right: 0.3rem;
}

.navbar__button:hover {
    cursor: pointer;
}

.navbar_text--button {
    color: var(--main_color);
}

.navbar__checkbox {
    display: none;
}

.navbar__hamburger:hover {
    cursor: pointer;
}

@media(max-width:600px) {
    .navbar__menu {
        top: 100%;
        transform: scale(1, 0);
        transition: transform 300ms ease-in-out;
        transform-origin: top;
        position: absolute;
    }

    .navbar__item--phone {
        display: none;
    }
    
    .navbar__text--phone {
        display: none;
    }
}

@media(min-width:601px) {
    .navbar__hamburger {
        display: none;
    }

    .navbar__phone {
        display: none;
    }

    .navbar__menu {
        width: 100%;
    }

    .navbar__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__item--phone {
        padding: 1em;
        margin-left: auto;
    }
}
