:root {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(background.jpeg) no-repeat center center fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.897);
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
}

.navbar__menu {
    display: none;
}

.navbar__checkbox:checked ~ .navbar__menu {
    display: inline-block;
}

.navbar__hamburger {
    margin-left: 0.03rem;
    color: white;
}

.navbar__hamburger:hover {
    cursor: pointer;
}

.navbar__item {
    padding: 1rem 0.5rem;
}

.navbar__text {
    text-decoration: none;
    color: rgb(199, 197, 197);
}

.navbar__button {
    color: rgba(0, 0, 0, 0.897);
    background-color: rgb(186, 217, 223);
}

.navbar__text--phone {
    display: none;
}

.navbar_text--button {
    color: #000000;
}

.navbar__checkbox {
    display: none;
}
